@{
    ViewData["Title"] = "About";
}

<section id="cont">
    <div id="cont-page">
        <div class="cont-title">
            <h1>CONTACT US</h1>
            <p>Meet some of the people you'll talk to by the way you'd like</p>
        </div>
        <div class="cont-row">
            <div class="team-info">
                <img class="team-img" src="~/lib/img/1sad.jpg" />
                <div class="team-desc">
                    <h2>Hoon Yim</h2>
                    <h5>Back-End Developer</h5>
                </div>
                <div class="sns-icons">
                    <ul>
                        <li>
                            <a href="mailto:yimsh0530@gmail.com" target="_blank">
                                <img src="~/lib/img/mail.png" alt="email" />
                            </a>
                        </li>
@*                        <li>
                            <a href="https://www.instagram.com" target="_blank">
                                <img src="~/lib/img/inst.png" alt="instagram" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com" target="_blank">
                                <img src="~/lib/img/fb.png" alt="facebook" />
                            </a>
                        </li>
*@                        <li>
                            <a href="https://www.linkedin.com/in/hoon-yim-83b44b260/" target="_blank">
                                <img src="~/lib/img/link.png" alt="linkedin" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="team-info">
                <img class="team-img" src="~/lib/img/3anger.jpg" />
                <div class="team-desc">
                    <h2>Jooyoung Song</h2>
                    <h5>Back-End Developer</h5>
                </div>
                <div class="sns-icons">
                    <ul>
                        <li>
                            <a href="mailto:jooyoung.song@georgebrown.ca" target="_blank">
                                <img src="~/lib/img/mail.png" alt="email" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank">
                                <img src="~/lib/img/inst.png" alt="instagram" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com" target="_blank">
                                <img src="~/lib/img/fb.png" alt="facebook" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" target="_blank">
                                <img src="~/lib/img/link.png" alt="twitter" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="team-info">
                <img class="team-img" src="~/lib/img/2joy.jpg" />
                <div class="team-desc">
                    <h2>Yoonhee Kim</h2>
                    <h5>Front-End Developer</h5>
                </div>
                <div class="sns-icons">
                    <ul>
                        <li>
                            <a href="mailto:yoonhee.kim@georgebrown.ca" target="_blank">
                                <img src="~/lib/img/mail.png" alt="email" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank">
                                <img src="~/lib/img/inst.png" alt="instagram" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com" target="_blank">
                                <img src="~/lib/img/fb.png" alt="facebook" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" target="_blank">
                                <img src="~/lib/img/link.png" alt="twitter" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
